<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
</head>
<body>
  <div id="app">
    <header>
      <h1>
        <a href="#" class="logo">
          首页
        </a>
      </h1>
      <ul>
        <li>菜单一</li>
        <li>菜单二</li>
        <li>菜单三</li>
        <li>菜单四</li>
      </ul>
    </header>

    <div class="main">
      <nav>
        <ul>
          <li>
            <a href="#">开发指南</a>
            <ul>
              <li>指南1</li>
              <li>指南2</li>
              <li>指南3</li>
              <li>指南4</li>
              <li>指南5</li>
            </ul>
          </li>

          <li>
            <a href="#">开发指南</a>
            <ul>
              <li>指南1</li>
              <li>指南2</li>
              <li>指南3</li>
              <li>指南4</li>
              <li>指南5</li>
            </ul>
          </li>

          <li>
            <a href="#">开发指南</a>
            <ul>
              <li>指南1</li>
              <li>指南2</li>
              <li>指南3</li>
              <li>指南4</li>
              <li>指南5</li>
            </ul>
          </li>

          <li>
            <a href="#">开发指南</a>
            <ul>
              <li>指南1</li>
              <li>指南2</li>
              <li>指南3</li>
              <li>指南4</li>
              <li>指南5</li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <footer>

    </footer>
  </div>
</body>

  <!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

  <script>
    new Vue({
      el: '#app',
      data: function(){
        return { visible: false }
      }
    })
  </script>
</html>
