<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Style Guide</title>
    <meta name="description" content="不超过150个字符">
    <meta name="keywords" content="">
    <meta name="author" content="name, email@gmail.com">

    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- iOS 图标 -->
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57x57-precomposed.png">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />

	<link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
	<!-- 登录 -->
	<article>
		
	</article>

	<!-- 绩效明细 -->
	<article>
		<div class="header">
			<span>绩效明细</span>
			<b class="border-left"></b>
			<b class="border-bottom"></b>
		</div>
		<div class="content">
			<div class="l-item">
				<div>
					<i class="performance-number"></i>
					<p>签约人数</p>
				</div>
				<p>累积完成签约人数</p>
				<p><span>245455</span>位</p>
			</div>
			<div class="l-item">
				<div>
					<i class="performance-document"></i>
					<p>健康档案</p>
				</div>
				<p>累积完成健康档案</p>
				<p><span>245455</span>位</p>
			</div>
			<div class="l-item">
				<div>
					<i class="performance-phys"></i>
					<p>健康体检</p>
				</div>
				<p>累积完成健康体检</p>
				<p><span>245455</span>位</p>
			</div>
			<div class="l-item">
				<div>
					<i class="performance-refer"></i>
					<p>在线咨询</p>
				</div>
				<p>累积完成在线咨询</p>
				<p><span>245455</span>位</p>
			</div>
			<div class="l-item">
				<div>
					<i class="performance-health"></i>
					<p>健康随访</p>
				</div>
				<p>累积完成健康随访</p>
				<p><span>245455</span>位</p>
			</div>

			
		</div>
		<footer>
			<a href="#">
				<i class=""></i>
				<p>绩效评价</p>
			</a>
			<a href="#">
				<i class=""></i>
				<p>排行榜</p>
			</a>
		</footer>
	</article>
</body>

<script src="https://npmcdn.com/vue/dist/vue.js"></script>

</html>


